.tours-image {
  /* background-image: url("https://i.ibb.co/xJD3DQj/background.jp"); */
  background-color: #eed9d9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
